

.thin {
    max-width:450px;
}

.carousel.thin { height:calc(100vh - 40px); }

.carousel > .window {
    overflow: hidden;
    position: relative;
     height:calc(100% - 260px);
	max-height:620px;

}

/*
    This is the item wrapper,
    it will be animated.
*/
.carousel ul {
    list-style: none;
    height: 10000px;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0px;
}

/*
    These are the items
*/
.carousel li {
    margin:0px 0 20px;
	padding-top:10px;
}
.prev, .next { font-size: 30px; width: 100%; position: relative; left: 50%; margin-left: -15px; color:#dd3333; cursor:pointer; }
.next {bottom: -10px;}
body {color:#fff;  font-family: 'Montserrat', sans-serif;
background: #020202;
background: -moz-linear-gradient(top, #020202 1%, #505050 100%);
background: -webkit-linear-gradient(top, #020202 1%,#505050 100%);
background: linear-gradient(to bottom, #020202 1%,#505050 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#505050',GradientType=0 ); }
.main { max-width:1580px; margin:0 auto;}
.main .playercontainer h2 { font-size:16px; margin:0 0 10px; }
.main .playercontainer h2 a { float:right; color:#dd3333; font-size:12px; text-transform:uppercase; cursor:pointer; text-decoration:none; margin:4px 10px 0; position: relative; z-index: 9; top: -10px;}
.main .playercontainer h2 a:hover {color:#fff; }
.bx-wrapper .bx-viewport { height:auto !important;}

.item0 {position: relative; top: -100px; margin-bottom: -80px;}
.activeThumb > div	{border:4px solid #febd34;}
.activeLi > div	{border:4px solid #febd34;}
.titleTxt { margin-left:100px !important; text-align:center; font-size:21px; line-height:24px; margin:0px; padding:20px 0;}
.titleTxt span { display:block; font-size:14px;}
.header { position:relative;}
.logo { position:absolute; top:0; right:0px;}
.logo img { max-width:150px;}
.main {  padding: 15px;}
.header { height:110px;}
.prev {top: -10px; }


@media (min-width: 768px) {
.playercontainer .col-sm-3 { width:270px;}
.playercontainer .col-sm-9 { width:calc(100% - 270px)}
}
@media (max-width: 767px) {
.playercontainer { max-width:345px; margin: 0 auto;}
.carousel.thin {  height: auto;   width: calc(100% - 160px); display: inline-block; vertical-align: top; margin-left: 10px; margin-top:0px; }
.activeThumb > div { width: 100%; height: 60px; border:1px solid #febd34}
.activeThumb { position: relative; top: 0; margin-bottom: 0; width: 100px; height: 150px; display: inline-block; vertical-align: top; }
.prev {left: inherit; right: -40px; width: 30px; top: 16px;}
.next {left: inherit; right: -40px; width: 30px;     bottom: 24px;}
.prev, .next { position:absolute;}
.carousel li { height:120px; padding-top: 0px; overflow:hidden; }

.carousel li  .video-js .vjs-tech { width: 180px; height: 101px; }
.carousel li  .video-js { width: 180px; height: 101px; }
.main .playercontainer h2 a { top:0px;}
.main .playercontainer h2 a img { width:20px;}
.video-js.vjs-playing .vjs-tech {
  pointer-events: none;
}
.titleTxt { margin-left:0px !important; text-align: left; font-size: 15px; line-height: 18px;     padding: 5px 0;}
.titleTxt span { font-size: 11px; }
.logo img { max-width: 90px; }
.header { height:90px;}
.carousel > .window {
    overflow: hidden;
    position: relative;
    height: 100%;
    max-height: 140px;
}

.main .playercontainer h2 {
    font-size: 12px;
    font-weight: 400;
}

.bx-wrapper .video-js .vjs-tech {
    width: 335px;
    height: 188px;
}
.bx-wrapper .bx-viewport { height:188px !important;}
}
